ol
  each item in items
    li.footnote(
        id=`fn_${item.id}`
        role='doc-endnote')
      | !{item.body} 
      a.footnote-back(
        href=`#reffn_${item.id}`
        title=`Link to footnote ${item.id}`
        role='doc-backlink')
        | &#x21A9;